<?xml version="1.0"?>
<launch>
<arg name="robot_namespace" default="/"/> 
<node name="nodeTankDriveExecutor" pkg="robot_framework_ros" type="nodeTankDriveExecutor"  output="screen" clear_params="true">
    <param name="robot_namespace" value="$(arg robot_namespace)"/>
    <param name="loop1_rate" value="40.0" /> <!-- General Update -->
    <param name="loop2_rate" value="20.0" /> <!-- Publish Drive Commands -->
</node>
</launch>