<?xml version="1.0"?>
<launch>
<arg name="robot_namespace" default="/"/> 
<arg name="topic_command_throttle" default="/"/>
<arg name="topic_left_drive" default="/"/>
<arg name="topic_right_drive" default="/"/>
<arg name="verbosity_level" default="NOTICE"/>
<node name="nodeTankDriveExecutor" pkg="robot_framework_ros" type="nodeTankDriveExecutor"  output="screen" clear_params="true">
    <param name="robot_namespace" value="$(arg robot_namespace)"/>
    <param name="verbosity_level"       value="$(arg verbosity_level)"/>
    <!-- Input Topics -->
    <param name="topic_command_throttle" value="$(arg topic_command_throttle)"/>
    <!-- Output Topics -->
    <param name="topic_left_drive" value="$(arg topic_left_drive)"/>
    <param name="topic_right_drive" value="$(arg topic_right_drive)"/>
    
    <param name="loop1_rate" value="40.0" /> <!-- General Update -->
    <param name="loop2_rate" value="20.0" /> <!-- Publish Drive Commands -->
</node>
</launch>