<?xml version="1.0"?>
<launch>
    <arg name="robot_namespace" value="/robot" />
    <arg name="verbosity_level" default="NOTICE"/>
    <arg name="topic_joystick_command" value ="joy"/>
    <arg name="topic_command_throttle" value="cmd_throttle"/> 
    <arg name="topic_left_drive" value ="left_drive"/>
    <arg name="topic_right_drive" value="right_drive"/>
    
    <group ns="$(arg robot_namespace)">
        <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot1" args="/robot/cmd_throttle/linear/x /robot/cmd_throttle/angular/z" />
        <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot2" args="/robot/left_drive /robot/right_drive" />
        <node name="joy_node" pkg="joy" type="joy_node" output="screen" clear_params="true">
        </node>
        <include file="$(find robot_framework_ros)/Systems/UserInterface/Subsystems/RemoteControl/Nodes/TeleopControl/BasicTeleopControlNode/launch/basicTeleopControl_node.launch">
            <arg name="robot_namespace" value="$(arg robot_namespace)"/>
            <arg name="verbosity_level"       value="$(arg verbosity_level)"/>
            <!-- Input Topics -->
            <arg name="topic_joystick_command" value ="$(arg topic_joystick_command)"/>
            <!-- Output Topics -->
            <arg name="topic_command_throttle" value="$(arg topic_command_throttle)"/> 
        </include>
        <include file="$(find robot_framework_ros)/Systems/Navigation/Subsystems/NavigationExecutor/Nodes/DriveExecutor/TankDriveExecutorNode/launch/tankDriveExecutor_node.launch">
                <arg name="robot_namespace" value="$(arg robot_namespace)"/>
                <arg name="verbosity_level"       value="$(arg verbosity_level)"/>
                <!-- Input Topics -->
                <arg name="topic_command_throttle" value="$(arg topic_command_throttle)"/> 

                <!-- Output Topics -->
                <arg name="topic_left_drive" value="$(arg topic_left_drive)"/>
                <arg name="topic_right_drive" value="$(arg topic_right_drive)"/>
        </include>
        <include file="$(find robot_framework_ros)/Systems/BaseMachine/Subsystems/BaseMachine/Nodes/HatNodes/ServoHat/launch/ServoHat_node.launch">
                <arg name="robot_namespace" value="$(arg robot_namespace)"/>
                <arg name="verbosity_level"       value="$(arg verbosity_level)"/>
                <!-- Input Topics -->
                <arg name="topic_left_drive" value="$(arg topic_left_drive)"/>
                <arg name="topic_right_drive" value="$(arg topic_right_drive)"/>

                <!-- Output Topics -->
                
        </include>
    </group>
    
        
   
</launch>