<library path="lib/librobot_framework_ros_gui">
  <class name="PIDTunerPlugin" type="robot_framework_ros::PIDTunerPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      Integrated PID Tuner GUI control panel.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
      </group>
      <label>PID Tuner Control Panel</label>
      <icon type="theme">system-run</icon>
    </qtgui>
  </class>
</library>