<?xml version="1.0"?>
<!-- ' @compare_tag Node-LaunchFile  v0.1 -->
<launch>
<arg name="robot_namespace" default="/"/> 
<arg name="verbosity_level" default="INFO"/>
<arg name="topic_imu" default="imu" />
<arg name="topic_magnetometer" default="magnetometer" />
<arg name="topic_imu_acc" default="imu_accel"/>
<arg name="imu_frame" default="base_link/imu"/>
<arg name="imu_device_config_file" default="$(find robot_framework_ros)/Systems/Pose/Subsystems/InertialSensor/Nodes/IMU/config/Fake_IMU_Device.yaml" />
<node name="nodeIMU" pkg="robot_framework_ros" type="nodeIMU"  output="screen" clear_params="true">
    <param name="robot_namespace" value="$(arg robot_namespace)"/>
    <param name="verbosity_level"       value="$(arg verbosity_level)"/>
    <param name="loop1_rate" value="200.0" /> <!-- General Update -->
    <param name="loop2_rate" value="200.0" /> <!-- Publish IMU Data -->
    <param name="imu_sensor_frame" value="$(arg imu_frame)"/>
    <rosparam file="$(arg imu_device_config_file)" command="load" />
    
    <!-- Input Topics -->
    <!-- Output Topics -->
    <param name="topic_imu" value="$(arg topic_imu)"/>
    <param name="topic_magnetometer" value="$(arg topic_magnetometer)"/>
    <param name="topic_imu_acc" value="$(arg topic_imu_acc)"/>
    
    
    
</node>
</launch>
